

<div class="container p-3" >

  <div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight">

      <h1> <%= @task.title %></h1>

    </div>

    <div class="p-2 bd-highlight">

      <button type="button" class="btn btn-outline-primary btn-lg">
      <i class='fal fa-pencil'></i>  <%= link_to 'Edit Task', edit_task_path %>
      </button>

    </div>
  </div>

  <p class="list-group-item list-group-item-secondary"> <%= @task.details %> </p>
  <% if @task.completed == true %>
    <%= "This task is completed" %>
  <% else %>
    <%= "This task is not completed yet" %>
  <% end %>



  <p><i class="fas fa-redo"></i>     <%= link_to 'Back to list', index_path %></p>

</div>
